<section id="posts" class="posts">
  <% @posts.each do |post| %>
    <article class="post">
      <h1 class="post_title">
        <%= post.title %>
      </h1>

      <div class="post content">
        <%= post.content.html_safe %>
      </div>
    </article>
  <% end %>
</section>
